@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "official use/status-bar.css";
@import "official use/nav-bar.css";
@import "official use/screen-header.css";
@import "official use/user-component.css";
@import "official use/badge.css";
@import "official use/alt-screen-header.css";
@import "official use/no-mobile.css";

@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

@import "reset.css";
@import "variables.css";

body {
    font-family: 'Lato', sans-serif;
    color: #2e363e;
}

.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}
.welcome-header__title {
    margin-bottom: 30px;
    font-size: 25px;
}
.welcome-header__text {
    width: 55%;
    opacity: 0.7
}