.no-mobile {
    position: absolute;
    z-index: 99;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    top: 0;
}

@media screen and (max-width: 630px) {
    .no-mobile {
        display: none;
    }
}